{% extends 'base.html'%}
{% block content %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='CSS/style.css')}}">
{% endblock %}
<div id="posts">
    <div class="row">
    {%for post in posts%}
    <div class=" cards col-md-6 col-md-6">
        <div class="thumbnail">
            <div class="caption">
            <p>title:{{post.title}}</p>
            <p>category:{{post.category}}</p>
            <p>content:{{post.content}}</p>
        </div>
    <div class="panel-footer">
                <a href="{{ url_for('main.post_details', id = post.id)}}"><button class="btn-success">Add a
                    comment</button></a>
        <div class="col-md-4 upvote">
                <span class="foot"> <a href="{{url_for('main.like',id = post.id)}}"><button
                class="btn-success">Upvotes:{{post.upvotes.count()}}</button></a></span>
                </div>
                <div class="col-md-4 downvote">
                <span class="foot"> <a href="{{url_for('main.dislike',id = post.id)}}"> <button
                    class="btn-danger">Downvotes:{{post.downvotes.count()}}</button></a></span>
            </div>
            </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{%endblock%}